<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Material Design themes-->
    <!-- <link rel="dx-theme" data-theme="material.blue.light"
        href="../../node_modules//devextreme/dist/css/dx.material.blue.light.compact.css" data-active="true" />
    <link rel="dx-theme" data-theme="material.blue.dark"
        href="../../node_modules//devextreme/dist/css/dx.material.blue.dark.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.lime.dark"
        href="../../node_modules//devextreme/dist/css/dx.material.lime.dark.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.orange.light"
        href="../../node_modules//devextreme/dist/css/dx.material.orange.light.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.orange.dark"
        href="../../node_modules//devextreme/dist/css/dx.material.orange.dark.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.purple.light"
        href="../../node_modules//devextreme/dist/css/dx.material.purple.light.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.purple.dark"
        href="../../node_modules//devextreme/dist/css/dx.material.purple.dark.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.teal.light"
        href="../../node_modules//devextreme/dist/css/dx.material.teal.light.compact.css" data-active="false" />
    <link rel="dx-theme" data-theme="material.teal.dark"
        href="../../node_modules//devextreme/dist/css/dx.material.teal.dark.compact.css" data-active="false" /> -->
    <script src="/configs.js"></script>
</head>

<!--devextreme要求body的class中使用dx-viewport-->

<body class="dx-viewport">
    <!--本页面作为默认的html模板,名字不要修改-->
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>