// 使Sider的网站LOGO居中对齐,且图片进行拉升,适应宽度
.ant-pro-sider-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //   img {
  //     //   使图片拉伸填满整个容器, 不保证保持原有的比例
  //     object-fit: scake-down;
  //   }
}
