// 使Sider的网站LOGO居中对齐,且图片进行拉升,适应宽度
.ant-pro-sider-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //   img {
  //     //   使图片拉伸填满整个容器, 不保证保持原有的比例
  //     object-fit: scake-down;
  //   }
}

// tab页样式
.dx-tab-content .dx-icon.dx-icon-close {
  display: inline-block;
  opacity: 0.6;
  margin-right: 0;
  margin-left: 7px;
  font-size: 18px;
}
.dx-tab-content .dx-icon.dx-icon-close {
  display: inline-block;
  opacity: 0.6;
  margin-right: 0;
  margin-left: 7px;
  font-size: 18px;
}
.dx-sortable-dragging .dx-tab {
  box-sizing: border-box;
  text-align: center;
}
// tab页样式 end
